body {
    background-color: cyan;
}

.parentElement {
    background-color: deepskyblue;
    height: 100px;
    width: 50%;
}   

.em {
    font-size: 14px;

}   

/* em sempre será o * o  tamanho em px do Pai  */   
p {
    background-color: rebeccapurple;
    font-size: 1em;
    width: 30em;
    height: 18em;
    border: tan 1em solid;
}

/* Simulando problema com o em, sempre duplicando os filhos */

.em2 {
    font-size: 8px;

}   

summary {
    background-color: red;
    font-size: 1em;
    width: 80em;
    height: 10em;
    border: tan 1em solid;
}

/* rem se utiliza sempre do root como base, temos mais controle
com o rem do que o em por conta de cascateamento */

html {
    font-size: 16px;
}

.rem {
    font-size: 1rem;
}

article {
    background-color: brown;
    font-size: 1em;
    width: 20em;
    height: 18em;
    border: tan 1em solid;
}