body {
    padding: 0;
    margin: 0;
}

/*
VW (Viewport Width)
VH (Viewport Height)
*/

.box {
    background-color: chartreuse;
    width: 1vw; /* 1/100 do tamanho da minha janela de navegação */
    height: 1vh; /* 1/100 do tamanho da minha janela de navegação */
}